<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SPECTOR</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='specter_style.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <header>
            <h1 class="header_title">SOCOM SPECTER</h1>
            <p class="header_explainer">SOCOM <b>S</b>ecurity <b>P</b>olicy <b>E</b>valuation and <b>C</b>ompliance <b>T</b>ool for <b>E</b>nforcement and <b>R</b>eview</p>
        </header>
        <div class="sidenav">
            <img src='/static/specter.png' alt='SPECTER Compliance Review'>
            <a href="https://devices.ocom">HOME</a>
            <a href="https://devices.com/software.html">SOFTWARE</a>
            <a href="https://devices.com/certificates.html">CERTIFICATES</a>
            <a href="https://stigChecker.com">STIG CHECKER</a>
        </div>      
        <main class="questions">
            <div>
                <h3>Use this site to check if the Cisco network device is STIG compliant</h3>
                <form action="/submit" method="post">
                    <div>
                        <label for="ip_addrs">Device IP Address:</label><br>
                        <input type="text" id="ip_addrs" name="ip_addrs" required><br>
                        <br>
                        <label for="username">Local Username:</label><br>
                        <input type="text" id="username" name="username" required><br>
                        <br>
                        <label for="password">Local Password:</label><br>
                        <input type="password" id="password" name="password" required><br>
                        <br>
                        <label for="en_secret">Enable Secret:</label><br>
                        <input type="password" id="en_secret" name="en_secret" required><br>
                        <br>
                        <form action="/run-script" method="POST">
                            <button type="submit" class="button">Check STIG Compliance</button>
                        </form>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>