<!DOCTYPE html>
<html>
<head>
    <title>SPECTOR</title>
</head>
<body>
    <h1>{{ name }}</h1>
    <form action="/submit" method="post">
        <label for="ip_addrs">Device IP Addresses:</label><br>
        <input type="text" id="ip_addrs" name="ip_addrs"><br><br>

        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>

        <label for="en_secret">Enable Secret:</label><br>
        <input type="password" id="en_secret" name="en_secret"><br><br>

        <input type="submit" value="Check STIG Compliance">
    </form>

    {% if result %}
        <h2>STIG Compliance Results:</h2>
        <pre>{{ result }}</pre>
    {% endif %}
</body>
</html>
