<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SPECTOR</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="spector_style.css">
    </head>
    <body>
        <header>
            <h1 class="header_title">SPECTOR</h1>
            <p class="header_explainer">Security Policy Evaluation and Compliance Tool for Enforcement and Review</p>
        </header>
        <div class="sidenav">
            <a href="index.html">HOME</a>
        </div>      
        <main>
            {% if result %}
            <section>
                <h2>STIG Compliance Results:</h2>
                <pre class="results">{{ result }}</pre>
            </section>
            {% endif %}
        </main>
    </body>
</html>
