:root{
    --w3-theme-l5: #fbfbfb;
    --w3-theme-l4: #f0f1f1;
    --w3-theme-l3: #e1e2e4;
    --w3-theme-l2: #d2d4d6;
    --w3-theme-l1: #c4c6c8;
    --w3-theme-d1: #a2a5a9;
    --w3-theme-d2: #8f9397;
    --w3-theme-d3: #7b8186;
    --w3-theme-d4: #6a6e73;
    --w3-theme-d5: #585c5f;
    --w3-theme-light: #fbfbfb;
    --w3-theme-dark: #585c5f;
    --w3-theme-action: #585c5f;
    --w3-theme: #b4b7ba;
    --w3-text-theme: #b4b7ba;
    --w3-border-theme: #b4b7ba;
    --w3-hover-theme: #b4b7ba;
    --w3-hover-text-theme: #b4b7ba;
    --w3-hover-border-theme: #b4b7ba;
}

body{
    background-color: var(--w3-theme-dark);
    /*background-image: url("mice-beard.png");*/
    color: var(--w3-theme-l3);
    font-family: Calibri;
}

img{
    width: 200px;
    padding: 0 0 0 0px;
}

.header_title{
    margin-left: auto; /* Same as the width of the sidenav */
    font-size: 45px; /* Increased text to enable scrolling */
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
}

.header_explainer{
    font-size: 25px; /* Increased text to enable scrolling */
    text-align: center;
    width: 100%;
    margin: 0px;
    margin-bottom: 25px;
}

.questions{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    text-align: center;
    border-spacing: 0;
}

.sidenav{
    background-color: var(--w3-theme-l1);
    height: 100%;
    width: 210px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    /*border-right: 2px solid red;*/
}
  
.sidenav a{
    color: var(--w3-theme-d5);
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}
  
.sidenav a:hover{
    color: var(--w3-theme-l3);
    background-color: var(--w3-theme-d5);
}

.main{
    margin-left: auto;
    font-size: 35px;
    padding: 0px 10px;
    font-weight: bold;
    text-align: center;
}

button {
    width: auto; 
    height: auto; 
    background-color: #8f9397; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    font-size: 16px; 
    text-align: center; 
    cursor: pointer; 
    box-shadow: 0 9px #555555;
    margin-bottom: 25px;
}

button:hover {
    background-color: #b4b7ba;
}

.button:active {
    background-color: #b4b7ba;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.results {
    width: 100ch;
    margin-left: 215px;
    word-wrap: break-word;
    white-space: pre-wrap;
    text-align: left;
    overflow-wrap: break-word;
}

h2 {
    text-align: center;
}

.back_button {
    margin-left: 230px;